---
const props = Astro.props

const faqContent = await Astro.glob("../content/faq/*.md");
---

<div class="cursor-help mt-10" id = "faq">
  <h1 class="text-5xl font-bold items-center section-title text-center">Frequently Asked Questions (FAQ)</h1>
  <div class="grid lg:grid-cols-2" >{
      faqContent.map((faq,index) => {
          return (
             
              <div class="border-2 border-l-8 rounded-xl border-yellow-400 p-2 m-2 hover:shadow-indigo-300 shadow-lg transi h-32 overflow-y-scroll">
              <h4 class="font-bold">{index + 1}. {faq.frontmatter.question}</h4>
              <p> <span class="font-semibold">Answer: </span>{faq.frontmatter.answer}</p>
              </div>
            
          )
      })
  }
    </div>
</div>